html, body {
    font-size: 16px;
}

input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input+label::before {
    content: '';
    margin-right: 10px;
    display: inline-flex;
    background-color: white;
    border: 4px solid white;
    box-shadow: 0 0 0 1px rgb(128, 128, 128, 0.5);
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

input:not(:disabled):not(:checked)+label:hover::before {
    background-color: rgb(218, 218, 218);
    border-color: rgb(218, 218, 218);
}

input:checked+label::before {
    background-color: black;
    border-color: white;
}

input:disabled+label::before,
input:disabled+label {
    opacity: 0.5;
}

input:focus+label::before {
    box-shadow: 0 0 0 2px rgb(57, 154, 211)
}

input:not(:disabled):active+label:active::before {
    background-color: black;
    border-color: rgb(150, 150, 150);
}