.nav {
    display: inline-flex;
    border: 3px double black;
    padding: 10px 10px;
}

.nav li {
    list-style-type: none;
    padding: 5px;
}

.nav li:not(:first-child)::before {
    padding-right: 10px;
    content: '♦';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #3072C4;
    cursor: pointer;
}

.active {
    font-weight: bold;
}